mixin link(src)
	link(href=src rel="stylesheet")
mixin script(src)
	script(src=src)
mixin headTitle(head_title)
	title=head_title
	meta(property="og:title" content=head_title)
mixin headDescription(description)
	meta(property="description" content=description)
	meta(property="og:description" content=description)
mixin menuItem(href)
	//- itemclass = itemclass || "vnav__link"
	li(class="vnav__item menu-item"): a( href=href ): block